<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.immunizationapi</package>
	<author>Willa Mhawila (Baba Imu)</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.immunizationapi.ImmunizationAPIActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>${openmrsPlatformVersion}</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.immunizationapi.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
		<aware_of_module>org.openmrs.module.webservices.rest</aware_of_module>
	</aware_of_modules>

	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges -->
	<privilege>
		<name>ImmunizationAPI: Manage Vaccine Configurations</name>
		<description>Allow users to Create/View/Edit/Delete the vaccine configurations</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: Create Vaccine Configurations</name>
		<description>Allow users to create the vaccine configurations</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: Edit Vaccine Configurations</name>
		<description>Allow users to Edit the vaccine configurations</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: View Vaccine Configurations</name>
		<description>Allow users to View the vaccine configurations</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: Delete Vaccine Configurations</name>
		<description>Allow users to Delete the vaccine configurations</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: Manage Administered Vaccines</name>
		<description>Allow users to Create/View/Edit/Delete the administered Vaccines</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: Create Administered Vaccines</name>
		<description>Allow users to create the administered Vaccines</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: Edit Administered Vaccines</name>
		<description>Allow users to Edit the administered Vaccines</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: View Administered Vaccines</name>
		<description>Allow users to View the administered Vaccines</description>
	</privilege>
	<privilege>
		<name>ImmunizationAPI: Delete Administered Vaccines</name>
		<description>Allow users to Delete the administered Vaccines</description>
	</privilege>
	<!--Required Privileges -->


	<!-- Required Global Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.vaccine.conceptSet</property>
		<defaultValue></defaultValue>
		<description>
			The UUID (or concept map - may be later) of the concept which is a convenient set grouping the vaccine
			concepts together. If not set, the search is performed against the entire dictionary which may not be optimal
			in most cases.
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.vaccine.conceptClass</property>
		<defaultValue></defaultValue>
		<description>
			The UUID of the concept class to search against. If not provided all type of class will be searched.
			If the convenient set is provided this may not be necessary. However if both are provided the search is
			performed agains the set and the class. So if a concept belongs to the set but is not of the specified class
			it won't be included.
		</description>
	</globalProperty>
	<!--Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

